<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styleConnexion.css" />
    <title>TerraForma</title>
  </head>
  <body>
    <main>
      <div class="left">
        <h1>TerraForma</h1>
        <h1>S'identifier - Enseignant</h1>
        <p>Entrer vos informations</p>
        <form method="post" id="connexion">
          <div>
            <input type="text" name="login" id="login"/>
            <label class="erreurTxt">Login</label>
          </div>
          <div>
            <input type="password" name="mdp"/>
            <label class="erreurTxt">Mot de passe</label>
          </div>
          <div id="erreur"></div>
          <input type="submit" value="Connexion">
          <p>Vous n'avez pas encore de compte ? <a href="#">S'inscrire</a></p>
        </form>
      </div>
      <div class="right">
        <div>Faites glisser votre souris pour vous déplacer !</div>
      </div>
      <a href="index.html" id="back">Retour</a>
    </main>
    <footer>
      <a href="#">Mentions légales</a>
      <a href="#">Aide</a>
      <a href="#">Nous contacter</a>
    </footer>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.131/build/three.module.js",
          "jsm/": "https://cdn.jsdelivr.net/npm/three@0.131/examples/jsm/"
        }
      }
    </script>
    <script type="module" src="../js/animationConnexion(new).js"></script>
    <!--<script src="../js/planete-connexion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="../js/three.js"></script>-->
    <script src="../controler/js/connexion.ctrl.js"></script>
  </body>
</html>
