<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleEvaluation.css">
</head>
<body>
    <h1>titre</h1>
    <main>
        <h2>Question 1/5</h2>
        <div>contenu</div>
    </main>
    <div id="conteneur"><div>Progression : 50%</div><div id="barreProgression" style="width: 50%;"></div></div>
    <button id="quitter" onclick="fermerEvaluation()">Quitter</button>
    <button id="suivant" onclick="questionSuivante()">Question suivante</button>
    <script src="../js/ouvrirQuestion.js"></script>
</body>
</html>