<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/burgerMenu.css">
    <link rel="stylesheet" href="../style/styleEnseignant.css">
    <link rel="stylesheet" href="../style/popUp.css">

    <title>TerraForma</title>
</head>
<body>
    <header>
        <h1>TerraForma</h1>
        <div id="root">
            <div id="topnav" class="topnav">    
                <a id="topnav_hamburger_icon" href="javascript:void(0);" onclick="showResponsiveMenu()">
                  <!-- Some spans to act as a hamburger -->
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
            
                <!-- Responsive Menu -->
                <nav role="navigation" id="topnav_responsive_menu">
                    <ul>
                    <a href="pagePrincipaleEnseignant.html">Retour page principale</a>
                    <hr>
                    <a href="">Mentions légales</a>
                    <a href="">Aide</a>
                    <a href="">Nous contacter</a>
                    <hr>
                    <a href="">Gérer mon compte</a>
                    <a href="index.html">Déconnexion</a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <nav id="filDArianne">Exemple nom professeur</nav>
    <main>
        <aside>
            <a href="creerClasse.html"><img src="../img/iconeClasseBlanc.png" alt="">Créer classe</a>
        </aside>
        <article>
            <h2>Vos classes :</h2>
            <a href="gererClasse.html" id="container1" data-popup-content="exemple nom classe 1">
                <p>Exemple nom classe / nombre d'élèves</p>
                <hr>
                <button class="modifier popup-button"></button>
                <button class="supprimer popup-button"></button>
            </a>
            <a href="gererClasse.html" id="container2" data-popup-content="exemple nom classe 2">
                <p>Exemple nom classe / nombre d'élèves</p>
                <hr>
                <button class="modifier popup-button"></button>
                <button class="supprimer popup-button"></button>
            </a>
            <a href="gererClasse.html" id="container3" data-popup-content="exemple nom classe 3">
                <p>Exemple nom classe / nombre d'élèves</p>
                <hr>
                <button class="modifier popup-button"></button>
                <button class="supprimer popup-button"></button>
            </a>
            <a href="gererClasse.html" id="container4" data-popup-content="exemple nom classe 4">
                <p>Exemple nom classe / nombre d'élèves</p>
                <hr>
                <button class="modifier popup-button"></button>
                <button class="supprimer popup-button"></button>
            </a>
            <a href="gererClasse.html" id="container5" data-popup-content="exemple nom classe 5">
                <p>Exemple nom classe / nombre d'élèves</p>
                <hr>
                <button class="modifier popup-button"></button>
                <button class="supprimer popup-button"></button>
            </a>
            <nav>
                <a href="" id="pageCourante">1<hr></a>
                <a href="">2<hr></a>
                <a href="">3<hr></a>
            </nav>
            <div class="popup" id="myPopup">
                <div class="popup-content">
                    <p id="popupContent"></p>
                    <button class="oui" onclick="closePopup()">Oui</button>
                    <button class="non" onclick="closePopup()">Non</button>
                </div>
            </div>
        </article>
        <div id="jeu" style="display: none;"></div>
    </main>
    
    <script src="../js/menuBurger.js"></script>
    <script src="../js/popUp.js"></script>
    <!-- plutot php nn ?<script src="../js/pagePrincipaleEnseignant.js"></script>-->
</body>
</html>